svg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 10);
}
canvas {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 10);
}

/* .country_info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: green;
} */
