svg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 10);
}

.canvas-wrapper {
  position: relative;
}
.canvas-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-wrapper .background {
  background-color: rgb(10, 10, 10);
}

canvas {
  width: 100vw;
  height: 100vh;
}

/* .country_info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: green;
} */
